/* Fees Form */

.fees-wrapper {
	max-width: 100%;
	border: solid 1px rgba(210, 215, 217, 0.75);
	border-radius: 0.5em;
	background-color: rgba(210, 215, 217, 0.25);
	padding: 1.5em 1.5em 0 1.5em;
}

/* Fees Table */

.fees tr {
	border: 0;
}

.fees tr td {
	padding: 0.5em 0 0.5em 0 !important;
}

.fees tr td:first-child {
	width: 180px;
	vertical-align: middle;
}

.fees tr td select, .fees tr td input {
	text-align: left;
	width: 150px;
}

/* Fees Results Table */

.feesresult tr {
	border: 0;
	border-top: solid 1px rgba(210, 215, 217, 0.75);
}

.feesresult tr td {
	vertical-align: top;
}

.feesresult tr td:first-child {
	width: 55%;
	vertical-align: top;
	padding: 1em 0 1em 0.5em;
}

.feesresult tr td:last-child {
	width: 45%;
	vertical-align: top;
	padding: 0.4em 0 0 0;
}

.feesresult span {
	display: block;
	opacity: 0.5;
	line-height: 1.3em;
}

input[type="text"] {
	color: #008e49;
	background-color: transparent;
	text-align: right !important;
	border: 0 !important;
}

	@media screen and (max-width: 480px) {

		.fees tr td {
			display: block;
		}

		.fees tr td select {
			width: calc(100% - 50px);
			margin: -0.75em 0 0.5em -0.2em;
		}

		.fees tr td input {
			float: right;
			width: 90px;
			margin: -0.5em 0 1em 0;
		}
	}

.formattotal td {
	font-weight: bold;
	background-color: #eeeeee;
	border: solid 1px rgba(210, 215, 217, 0.75);
}

.formattotal td:first-child {
	border-right: 0;
}

.formattotal td:last-child {
	border-left: 0;
}